body{
    background-color:rgb(239, 247, 244);
}
h1{
   display: flex;
   margin-top: 12%;
   justify-content: center;
   font-style:inherit; 
   color: palevioletred;
   line-height: 46px;
   
}
h2{
    display: flex;
   line-height: 32px;
   font-family:'Times New Roman';
   justify-content: center;
   font-style:inherit; 
   font-size: 20px;
   margin-top:auto;
}
#select-file{
    display: flex;
    justify-content: center;
    margin-top: 50%;
}
select-file.hover{
    background-color: powderblue;
}